:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-borders: hsl(30, 10%, 90%);
  --color-blue: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-stone-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.box {
  background-color: var(--color-white);
  display: flex;
  max-width: 375px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-weight: 600;
  font-size: 35px;
  padding: 2rem 2rem 0.5rem 2rem;
  font-family: "Young Serif", sans-serif;
}

.intro p {
  padding: 1rem 2rem 2rem 2rem;
  font-size: 16px;
  line-height: 1.3;
}

.box h2 {
  font-family: "Young Serif", sans-serif;
  color: var(--color-brown-800);
  align-self: flex-start;
  font-size: 24px;
  font-weight: 400;
}

.box img {
  width: 100%;
  height: auto;
}

.prep {
  background-color: var(--color-rose-50);
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.prep li {
  padding-left: 1rem;
}

.prep li::marker {
  color: var(--color-rose-800);
}

.prep h2 {
  font-weight: 700;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-rose-800);
}

.prep ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  left: 40px;
  bottom: 15px;
  width: 200px;
  height: 125px;
  line-height: 1.3;
  padding-top: 0.5rem;
}

.prep-bold {
  font-weight: 600;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

.ingredients {
  padding: 1.3rem;
}

.ingredients li {
  padding-left: 1rem;
}

.ingredients li::marker {
  color: var(--color-brown-800);
}

.ingredients h2 {
  padding-top: 0.5rem;
}

.ingredients ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 5rem 0 1.6rem;
  height: 150px;
  font-size: 13px;
  line-height: 1.3;
}

.instructions-bold {
  font-weight: 600;
}

.instructions li {
  padding-left: 1rem;
  padding-right: 1rem;
}

.instructions li::marker {
  color: var(--color-brown-800);
}

.instructions h2 {
  padding: 1rem 0 0.5rem 1.5rem;
}

.instructions ol {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 3rem;
  line-height: 1.3;
  font-size: 16px;
  gap: 1rem;
}

.nutrition {
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.nutrition h2 {
  padding-left: 0.9rem;
  padding-top: 0.8rem;
}

.nutrition p {
  padding: 1.2rem 2.5rem 1rem 1rem;
  line-height: 1.3;
  font-size: 16px;
}

.nutrition table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 1rem;
}

.nutrition tr {
  border-bottom: 1px solid var(--color-borders);
}

.nutrition tr:last-child {
  border-bottom: none;
}

.nutrition th {
  font-size: 16px;
  width: 30%;
  padding-left: 2rem;
  text-align: left;
}

.nutrition td {
  color: hsl(14, 45%, 36%);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  width: 70%;
  padding-left: 4.5rem;
}

.nutrition th,
.nutrition td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line1,
.line2 {
  border: 1px solid var(--color-borders);
  width: 87%;
}

.eggs {
  padding-right: 2rem !important;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  bottom: 50px;
}

.attribution a {
  color: var(--color-blue);
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}

@media (min-width: 768px) {
  .box {
    max-width: 700px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .box img {
    width: calc(100% - 64px);
    margin: 32px;
    border-radius: 10px;
  }

  .prep {
    max-width: none;
    width: calc(100% - 64px);
  }

  .ingredients {
    margin-right: 9.2rem;
  }

  .instructions {
    margin-left: 0.7rem;
    padding: 0;
  }

  .instructions ol {
    height: auto;
    padding-bottom: 0;
    display: block;
    align-items: start;
  }

  .instructions h3 {
    padding-top: 1rem;
  }

  .intro h1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nutrition p {
    padding-left: 0;
  }

  .nutrition h3 {
    margin: 0;
    padding-top: 1rem;
  }

  .nutrition table {
    width: 100%;
    left: 0;
  }

  .nutrition th {
    font-size: 16px;
    width: 50%;
  }

  .nutrition td {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    width: 50%;
    padding-left: 2rem;
  }

  .attribution {
    position: relative;
    bottom: 50px;
  }

  .line1,
  .line2 {
    width: 90%;
  }
}
